/**
 * _adminbar
 *
 * @author jjarolim, adwerba
 */

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	width: 300px; // Dropdown etwas breiter machen, damit man die Namen auch lesen kann
}

#wp-admin-bar-my-sites-list {
	max-height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

