/* 
    Created on : 17.07.2017, 14:21:07
    Author     : Philipp Kodicek
*/

body.page-template-page-contact-tpl {
	
	section.contact {
		
		.main-hl {
		
			margin-top: 14px;

			@media (min-width: $screen-sm-min) {
				font-size: 35px;
				line-height: 35px;
				letter-spacing: -1.5px;
				margin-top: 0;
			}

			@media (min-width: $screen-md-min) {
				font-size: 35px;
				line-height: 35px;
				letter-spacing: -1.5px;
			}
		}
		
		
		margin-top: 30px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 43px;
		}
		
		.address {
					
			font-size: 15px;
			margin-top: 20px;
			
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
				margin-top: 30px;	
			}
			
			@media (min-width: $screen-sm-min) {
				margin-top: 24px;	
			}
			
			h4 {
				margin: 0;
			}
			
			.contact-data {

				margin-top: 5px;
				
			}			
		}
		
		.opening {
			
			font-size: 15px;
			margin-top: 20px;			
			
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
				margin-top: 30px;
			}
			
			@media (min-width: $screen-sm-min) {
				margin-top: 24px;	
			}
			
			h4 {
				margin: 0;
			}
			
			h5 {
				margin: 12px 0 0;
			}
			
			.opening-time {			
				margin-top: 5px;				
			}
			
		}
		
		.cta {
			
			@media (min-width: $screen-md-min) {
				margin-top: 46px;
			}
			
		}
		
		.btn {			
			margin-top: 10px;				
		}
		
		#map {
			
			width: 100%;
			height: 25vw;
			max-width: 100%;
			margin-top: 50px;
			
/*			@media (min-width: $screen-sm-min) {
				height: 48.5vw;;
				width: 890px;
				margin-top: 40px;
			}
			
			@media (min-width: $screen-md-min) {
				height: 329px;
				width: 100%;
				margin-top: 0;
			}*/
		}
		
	}
	
	section.contact_form {
		
		margin-top: 43px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 40px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 90px;
		}
	}
	
}

body.page-template-page-contact-original-tpl {
	
	section.contact {
		
		.main-hl {
		
			margin-top: 14px;

			@media (min-width: $screen-sm-min) {
				font-size: 35px;
				line-height: 35px;
				letter-spacing: -1.5px;
				margin-top: 0;
			}

			@media (min-width: $screen-md-min) {
				font-size: 35px;
				line-height: 35px;
				letter-spacing: -1.5px;
			}
		}
		
		
		margin-top: 30px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 43px;
		}
		
		.address {
					
			font-size: 15px;
			margin-top: 20px;
			
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
				margin-top: 30px;	
			}
			
			@media (min-width: $screen-sm-min) {
				margin-top: 24px;	
			}
			
			h4 {
				margin: 0;
			}
			
			.contact-data {

				margin-top: 5px;
				
			}			
		}
		
		.opening {
			
			font-size: 15px;
			margin-top: 20px;			
			
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
				margin-top: 30px;
			}
			
			@media (min-width: $screen-sm-min) {
				margin-top: 24px;	
			}
			
			h4 {
				margin: 0;
			}
			
			h5 {
				margin: 12px 0 0;
			}
			
			
			.opening-time {
			
				margin-top: 5px;
				
			}
			
		}
		
		.btn {
			
			margin-top: 25px;
			
			@media (min-width: $screen-sm-min) {
				margin-top: 0px;
			}
			
			@media (min-width: $screen-md-min) {
				margin-top: 20px;
			}
		}
		
		#map {
			
			width: 585px;
			height: 47vw;
			max-width: 100%;
			
			@media (min-width: $screen-sm-min) {
				height: 48.5vw;;
				width: 890px;
				margin-top: 40px;
			}
			
			@media (min-width: $screen-md-min) {
				height: 329px;
				width: 100%;
				margin-top: 0;
			}
		}
		
	}
	
	section.contact_form {
		
		margin-top: 43px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 40px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 90px;
		}
	}
	
}