/* 
    Created on : 04.07.2017, 14:10:22
    Author     : Philipp Kodicek
*/


body.home {
	
	section.teaser {
		
		/* teaser with SEM Aktionen Slider */
		.teaser-item-wrap {

			visibility: hidden;
			
			/* SEM Aktionen Slider */
			&.slick-initialized { visibility: visible; }

			.slick-dots { 

				li {
					width: 20%;
				}

				@media (max-width: $screen-sm-max) {
					display: none !important;
				}

			}

			.slick-arrow {
				@media (max-width: $screen-sm-max) {
					display: none !important;
				}
			}

			.teaser-item {
				position: relative;

				.headline-item {
					padding: 0;
				}

				.container {

					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						min-height: 169px;
					}
				}
			}


		}
		
		.slick-track {
			position: relative;
			top: 0;
			left: 0;
			display: block;
		}
		
		.background {
			
			height: 45vw;
			background-size: cover;
			background-position: center center;
			display: block;
			
			@media (min-width: $screen-md-min) {
				height: 36.607vw;
			}
			
			@media (min-width: 1680px) {
				height: 615px;
			}
		}
		
		.dealer-information {
			
			margin-top: 10px;
			padding: 20px;
			background: #f2f2f2;
			
			@media (min-width: $screen-sm-min) {
				padding: 17px 45px 25px;
				margin-top: 17px;
			}
			
			@media (min-width: $screen-lg-min) {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 315px;
				padding: 19px 15px;
				margin-top: 0;
			}
			
			@media (min-width: 1500px) {
				top: 50px;
				bottom: 50px;
			}
			
			.contact-data {
				margin-top: 22px;
				letter-spacing: 0.4px;
				
				@media (min-width: $screen-md-min) {
					margin-top: 20px;
					letter-spacing: 0px;
				}
				
				&.data-address {
					@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
						margin-top: 40px;
					}
				}
				
				&.data-phone {
					@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
						margin-top: 22px;
					}
				}
			}
			
			.opening {
				
				margin-top: 29px;
				letter-spacing: 0.5px;
				
				@media (min-width: $screen-sm-min) {
					margin-top: 0px;
				}
				
				@media (min-width: $screen-lg-min) {
					margin-top: 39px;
					letter-spacing: 0px;
				}
				
				h4 {
					margin-bottom: 20px;
				}
				
				.opening-time {
					margin-top: 16px;
					@media (min-width: $screen-sm-min) {
						margin-top: 7px;
					}
					@media (min-width: $screen-md-min) {
						margin-top: 5px;
					}
				}
				
				.arrowlink {
				    display: inline-block;
					margin-top: 10px;
				}
			}
			
			.cta {
				
				margin-top: 25px;
				
				@media (min-width: $screen-sm-min) {
					margin-top: 12px;
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 10px;
				}
				
				.btn {
					margin-top: 15px;
				}
			}
		}
		
	}
	
	section.welcome-message {
		margin-top: 50px;
	}
	
	section.main-content {
		
		margin-top: 49px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 77px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 87px;
		}
		
		.content-col {
			
			margin-top: 26px;
			
			@media (min-width: $screen-sm-min) {
				margin-top: 22px;
			}
			
			@media (min-width: $screen-md-min) {
				margin-top: 37px;
			}
			
			img {
				margin-bottom: 13px;
				
			}
			
			h2 {
				margin-bottom: 3px;
			}
			
			.content-text {
				
				margin-top: 6px;
				font-size: 15px;
				line-height: 20px;
				
				@media (min-width: $screen-sm-min) {
					margin-top: 0px;
					margin-bottom: 4px;
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 0px;
					font-size: 14px;
					line-height: 17px;
					margin-bottom: 0px;
				}
				
				p {
					margin: 0;
				}
			}
			
			.arrowlink {
				display: inline-block;
				margin-top: 6px;
				
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					margin-bottom: 17px;
				}
			}
		}
		
	}
	
	section.offers {
		
		margin-top: 36px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 47px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 82px;
		}
		
		.offer-items {
			
			margin-top: 24px;
			
			@media (min-width: $screen-sm-min) {
				margin-top: 30px;
			}
			
			@media (min-width: $screen-md-min) {
				margin-top: 0px;
			}
			
			.content-col {
				
				@media (max-width: $screen-sm-max) {
					margin-bottom: 15px;
				}
			}
			
			.panel {

				/*padding-bottom: 35px;*/
				min-height: 340px;
				margin-bottom: 15px;
				
				transition: height 0.2s;

				@media (min-width: $screen-sm-min) {
					/*margin-top: 9px;*/
					padding-bottom: 0;
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 38px;
					margin-bottom: 0px;
					padding-bottom: 5px;
				}
				
				&:last-child {
					margin-bottom: 0px;
				}

				img {
					margin-bottom: 13px;
					
					@media (max-width: $screen-xs-max) {
						width: 100%;
					}
				}
				
				h2 {
					@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
						font-size: 28px;
						line-height: 28px;
					}
				}
				
				h2, .offer-text {
					color: #262626;
				}

				.offer-text {

					margin-top:6px;
					font-size: 15px;
					line-height: 20px;

					@media (min-width: $screen-sm-min) {
						margin-top: 3px;
						line-height: 20px;
						font-size: 15px;
					}
					
					@media (min-width: $screen-md-min) {
						line-height: 17px;
						font-size: 14px;
						margin-top: 10px;
					}
				}

				.arrowlink {
					display: block;
					margin-top: 7px;
				}
				
				&.panel-offer {
					
					position: relative;
					
					.slider-arrows {
						
						position: absolute;
						bottom: 0;
						right: 15px;
						
						.slick-arrow {
							position: static;
							bottom: 0;
							width: 20px;
							height: 20px;
							margin-left: 5px;
							display: inline-block;
							opacity: 1;
							background-size: contain;
							
							&.slick-prev {
								background-image: url('resources/images/icons/BMW-neg_nav_previous_24_o.png');
							}
							
							&.slick-next {
								background-image: url('resources/images/icons/BMW-neg_nav_next_24_o.png');
							}
						}
					}
					
				}
				
				
			}
		}
	
	}
}
