/* 
    Created on : 26.07.2017, 19:37:31
    Author     : p.kodicek
*/

body.post-type-archive-news_events {
	
	.newsevent-wrap {
		
		margin-top: 49px;
	
		@media (min-width: $screen-sm-min) {
			margin-top: 77px;
		}

		@media (min-width: $screen-md-min) {
			margin-top: 87px;
		}
		
		.newsevent-item {
			
			margin-top: 45px;
			
			@media (min-width: $screen-sm-min) {
				margin-top: 75px;
			}
			
			@media (min-width: $screen-md-min) {
				margin-top: 90px;
			}
			
			.name {
				
				margin: 14px auto 8px;
				
				@media (min-width: $screen-md-min) {
					margin: 0;
				}
			}
			
			.date {
				margin-top: 5px;
			}
			
			.description {
				margin: 8px 0 11px; 
			}
			
		}
	}
}

