/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.06.2017, 13:12:45
    Author     : g.penzenstadler
*/

.new-vehicles {
	
	
	
	color: #262626;
	margin: 75px auto 0;
	overflow: hidden;
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-top: 58px;
	}
	@media (max-width: $screen-xs-max) {
		margin-top: 55px;
	}
	
	.site-headline {
		
		margin: 0 auto 52px;
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -1.5px;
		
		@media (min-width: $screen-sm-min) {
			margin: 0 auto 67px;
			font-size: 26px;
			line-height: 28px;
			letter-spacing: -1.75px;
		}
			
	}
	
	.brand-row {
		/*margin-top: 30px;*/
		margin-bottom: 58px;
		
		&:last-child { margin-bottom: 0;}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin-bottom: 74px;
		}
		@media (max-width: $screen-xs-max) {
			margin-bottom: 60px;
		}

	} 
	
	ul {
		
		list-style-type: none;
		padding-left: 0;
		margin: 3px 0 0;
		
		li {
			margin-bottom: 6px;
			
			@media (min-width: $screen-md-min) {
				margin-bottom: 5px;
			}
		}
	}
	
	.vehicle-wrap {
		position: relative;
		overflow: hidden;
		
		.car-image {
			cursor: pointer;
		}
				
		.brand_symbol {
			position: absolute;
			color: lightgrey;
			content: "1";
			font-weight: bold;
			font-family: 'bmw_type_web_bold_allregular', serif;
			z-index: -10;
			left: 0;
			top: -55px;
			top: -4vh;
			font-size: 207px;
			font-size: 10.5vw;
			
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				top: -45px;
				top: -3vh;
				font-size: 14vw;
			}
			
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				top: -35px;
				top: -2vh;
				font-size: 140px;
				font-size: 20vw;
			}
			@media (max-width: $screen-xs-max) {
				top: 0px;
				top: -1vh;
				font-size: 120px;
				font-size: 37vw;
			}
		}
		
	}
	.row-inner { 
		margin-bottom: 15px; 
		overflow: hidden;
	}
	
	.vehicle-wrap, .car-overview {
		.price-with-disclaimer {
			font-family: Arial, sans-serif;
			font-weight: bold;
		}
	}

	.car-overview {
		
		display: none;
		position: relative;
		overflow: visible;
		z-index: 10;

		margin: 18px auto 0;
		
		@media (min-width: $screen-sm-min) {
			margin: 14px auto 0;	
		}
		
		.overview-border {
				
			position: relative;
			transition: all 1s;
			border: 1px transparent;
			
			&.slidedDown {
				
				border: 1px solid #e6e6e6;	
				margin-left: -15px;
				margin-right: -15px;
				padding: 15px;
				
				@media (min-width: $screen-sm-min) {						
					padding: 30px;
					margin-left: -30px;
					margin-right: -30px;
				}
				
				@media (min-width: $screen-md-min) {						
					padding: 15px;
					margin-left: -15px;
					margin-right: -15px;
				}
				
				.arrow-up {
					opacity: 1;
				}
			}
			
			.arrow-up {
				display: inline-block;
				position: absolute;
				width: 31px;
				height: 23px;
				top: -17px;
				opacity: 0;
				transition: all 1s;
				&:before {
					content: url('resources/images/icons/arrow-point-up.png');
				}
			}		
		}
		
		.overview-image-wrap {
			display: block;
			transition: all 0.5s;
			position: relative;
			
			visibility: hidden;
			
			&.slick-initialized {
				visibility: visible;
			}
		}
		
		
		.headline {
			font-size: 35px;
			line-height: 35px;
			
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: 25px;
				line-height: 25px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 25px;
				line-height: 25px;
			}
		}
		
		.price-with-disclaimer {
			
			@media (max-width: $screen-xs-max) {
				margin-top: 10px;
			}
			
			@media (max-width: $screen-sm-max) {
				margin-top: 8px;
			}
			
		}
		
		.headline-2 {
			font-size: 35px;
			line-height: 35px;
			
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: 25px;
				line-height: 25px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 25px;
				line-height: 25px;
			}
		}
		.subheadline {
			margin-bottom: 9px;
			font-size: 18px;
			line-height: 20px; 
			margin-top: 8px;
			letter-spacing: -0.7px;
			
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 26px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 18px;
				line-height: 20px;
			}
		}
		.overlay-model-name {
			
			@media (max-width: $screen-xs-max) {
				margin-top: 5px;
			}

		}
		
		h5{
			display: inline-block;
		}
		
		.description {
			
			margin: 18px 0 17px;
			
			@media (min-width: $screen-md-min) {
				margin: 6px 0 0;
			}
			
			
			p {
				line-height: 17px;
				margin-bottom: 6px;
			}
			
		}
		
		.btn {
			margin-top: 15px;
			
			@media (min-width: $screen-md-min) {
				margin-top: 5px;
			}
		}
		
		.overview-after {
			
			margin: 44px auto 0;
			
			@media (min-width: $screen-sm-min) {
				margin: 43px auto 0;
			}
			
			@media (min-width: $screen-md-min) {
				margin: 14px auto 0;
			}
			
			h5 { font-weight: bold; }
			
			.headline-2 { margin-top: 0; letter-spacing: -0.7px;}
			
			ul {
				@media (max-width: $screen-xs-max) {
					margin-top: 7px;
				}
			}
		}
		.close_btn {
			/*position: absolute;*/
			width: 18px;
			height: 18px;
			right: 15px;
			top: 15px;
			background-image: url('./resources/images/icons/BMW-neg_nav_close_18_o.png');
			cursor: pointer;
			float: right;
		}
		.image-overview {
			max-width: 100%;
		}
	}
	
	.new-vehicle-column {
		color: #262626;
		h1 { 
/*			margin: 0 auto 15px auto;*/
			font-size: 25px;
			line-height: 25px;
			letter-spacing: 0.5px;
			
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: 18px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}
	}

}
