/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.07.2017, 13:57:34
    Author     : g.penzenstadler, p.kodicek
*/


body.tax-offer_type {
	
	.offer {
		
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin-bottom: 90px;
		}
		@media (max-width: $screen-xs-max) {
			margin-bottom: 60px;
		}

		.intro-wrap {
			margin-top: 6px;
			overflow: hidden;

			@media (min-width: $screen-sm-min) {
				margin-top: 20px;
			}	

			@media (min-width: $screen-md-min) {
				margin-top: 40px;
			}		
		}
/*		.intro-left, .intro-right {
			font-size: 15px; 
			line-height: 20px;
			
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
			}
		}*/

		.offer-rows {
			
			.no-events {
				margin-top: 30px;
			}

			.car-offer-serie {
				margin: 90px auto 30px;
			}

			.offer_row { 

				margin-top: 45px;

				@media (min-width: $screen-sm-min) {
					margin-top: 75px;
				}

				@media (min-width: $screen-md-min) {
					margin-top: 90px;
				}

				&:first-child {
					
					margin-top: 20px;
					
					@media (min-width: $screen-sm-min) {
						margin-top: 50px;
					}
					
					@media (min-width: $screen-md-min) {
						margin-top: 64px;
					}
				}
				
				.offer-image {
					
					height: 45vw;
					width: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					
					@media (min-width: $screen-sm-min) {
						height: 30vw;
					}
					
					@media (min-width: $screen-md-min) {
						height: 20vw;
					}
					
				}
				
				.offer-name {
					margin-top: 14px;
					
					@media (min-width: $screen-sm-min) {
						margin-top: 12px;
					}
					
					@media (min-width: $screen-md-min) {
						margin-top: 0;
					}
				}

				.price-with-disclaimer {
					
					margin-top: 8px;
					
					@media (min-width: $screen-sm-min) {
						margin-top: 7px;
					}
					
					@media (min-width: $screen-md-min) {
						margin-top: 5px;
					}
				}

				.description-wrap {
					/*margin: 5px 0 10px;*/
					margin: 5px 0 20px;

					ul {
						padding-left: 20px;
						/*list-style-type: none;*/
						margin-bottom: 15px;
					}
				}

				.offer_download {
					margin: 0 0 5px;
					
					@media (min-width: $screen-sm-min) {
						margin: 16px 0 17px;
					}
					
					@media (min-width: $screen-md-min) {
						margin: 0 0 5px;
					}
				}

				.intro {
					font-family: 'Arial', serif;
					font-size: 14px;
					margin: 5px auto 90px;
				}
			}

			h1 + .offer_row {
				margin-top: 0;
			}

		}
		
		.btn-show-all {
			display: none;
			margin-top: 50px;
		}
	}
}