/* 
	Standard Seitentemplate BMW-Inhaltsseite

    Created on : 17.07.2017, 16:04:33
    Author     : Philipp Kodicek
*/

body.page-template-default {
	
	.title {
		
		margin-top: 30px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 43px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 73px;
		}
		
	}
	
	.content {
		
		margin-top: 32px;
		
		h1,h2,h3,h4,h5 {
			text-transform: none;
		}
		
		h4 {
			margin-top: 38px;
			margin-bottom: 9px;
			
			&:first-child {
				margin-top: 0px;
			}
		}
		
		p {
			margin-bottom: 17px;
			
			font-size: 15px;
			line-height: 20px;

			@media (min-width: $screen-md-min) {
				font-size: 14px;
				line-height: 17px;
			}
			
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	
}

