/* 
    Created on : 16.08.2017, 13:46:48
    Author     : Philipp Kodicek
*/

body.page-template-page-bmw_i {

	@import "page-bmw_i/variables";
	@import "page-bmw_i/headlines";
	@import "page-bmw_i/bmwfonts";
	@import "page-bmw_i/buttons";
	@import "page-bmw_i/form";
	@import "page-bmw_i/floatlabels";

	@import "page-bmw_i/index";


	@import "page-bmw_i/slick";
	
	font-family: Arial,Helvetica,Roboto,sans-serif;

	* {
		outline: none !important;
	}	

	p {

		font-size: 13px;
		line-height: 17px;
		margin-top: 15px;

		@media (min-width: $screen-sm-min) {
			font-size: 15px;
			line-height: 21px;
			margin-top: 20px;
		}
	}
}