/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.07.2017, 11:51:02
    Author     : g.penzenstadler
*/

.aktionen-wrap {
	margin: 90px auto 120px;
	
	.col-left {
		
		p { margin-bottom: 15px; }
		
		.image-wrap {
			
			position: relative;
			margin-bottom: 25px;
			
			> .images {

				> img {
					box-shadow: 0 0 5px #ccc;
					border: 5px solid #fff;
					background: #fff;
				}				

			}
			
			.headlines {
				max-width: 75%;
				position: absolute !important;
				display: block;
				top: 45px;
				left: 45px;
				color: white;
				border: none;
				width: 80%;
				
				.headline-item {
					
					padding: 18px 8px;
					
					.headline, .subheadline {
						text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.24);
					}
					
					&.dark .headline, &.dark .subheadline {
						color: #262626;
						text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.24);
					}
					
				}				
				
				@media (max-width: $screen-xs-max) {
					display: none;
				}
			}
			
		}
			
		.aktions-title {
			margin-top: 15px;
		}
		
		section.description {
			
			.disclaimer {
				margin-top: 25px;
				color: #999999;
				font-size: 0.9em;
			}
			
			.cta {
				
				display: inline-block;
				margin: 20px 0 10px 0;
				padding: 0;
				
				li {
					
					display: inline-block;
					margin: 0 5px 5px 0;
					
					a {
						padding: 0 25px;
					}
					
				}
				
			}
			
		}
		
		.price-wrap {
			margin-bottom: 50px;
			/*background: orange;*/
			background: $color_btn_info_background;
			display: inline-block;
			padding: 5px 10px;
			transition: all 0.35s;
			
			&:hover {
				/*background: $color_btn_info_background_hover;*/
			}
			
			.aktions-preis {
				display: inline-block;
				min-width:100px;
				color: white;
				margin: 0;
			}
			.disclaim {
				background: url('./resources/images/icons/BMW-neg_com_info_18_o_transparent.png') left top no-repeat;
				width: 20px;
				height: 20px;
				display: inline-block;
			}
		}
		.aktions-link-wrap {
			margin-bottom: 0;
		}
		
	}
	
	.col-right {
		
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			font-size: 140px;
			margin-top: 45px;
		}
		@media (max-width: $screen-xs-max) {
			margin-top: 30px;
		}
		
		.thumbs-headline {
			padding-left: 9px;
		}
		
		.thumb-arrows {
			
			text-align: center;
		
			.thumb-arrow {

				width: 40px;
				height: 60px;
				margin: 0 10px;
				background-color: rgb(77,77,77);
				background-size: 35%;
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-block;
				transform: rotate(90deg);
				background-image: $arrow-right;
				transition: opacity 1.2s;
				
				&.thumb-prev {
					opacity: 0.3;
					background-image: $arrow-left;
				}
			}
		}

		ul { 
			padding-left: 0;
			overflow: hidden;			
			transition: height 1s;
			
			@media (max-width: $screen-sm-max) {
				height: auto!important; //Überschreibe inline-styles von JS
			}
			
			@media (min-width: $screen-md-min) {
				height: 0px;
			}
			
			.slick-slide {
				/* MN(2017-08-02): Zweizeilige Aktions-Titel brauchen mehr Platz */
				/*max-height: 185px;*/
			}			
			
			.thumb { 
				display: block;
				margin: 0 0 10px;
				&:hover { cursor: pointer; }
				
				.thumb-title {
					color: #262626;
				}
			}
		}
/*		.arrow-wrap {
			position: relative;
			
			.slick-prev, .slick-next {
				background-color: $grey;
				background-size: 35%;
				transition: all 0.5s;
				height: 40px;
				position: absolute;
				top: 40px;
				transform: rotate(90deg);
				transform-origin: 100% 0%;

				&:hover {
					background-color: $leasing-grey;
				}
			}

			.slick-prev {
				left: 33%;
			}
			.slick-next {
				right: 33%;
			}
		}*/

	}
	
}