
/* 
    Created on : 04.07.2017, 13:22:26
    Author     : g.penzenstadler
*/


.service-wrap {
	
	.btn-actionlink { margin-bottom: 0; }
	
	@media (max-width: $screen-xs-max) {
		margin-bottom: 60px;
	}
	
	.intro {
		
		font-size: 14px;
		line-height: 17px;
		
		margin-top: 7px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 23px;
		}
		
		@media (min-width: $screen-md-min) {
			margin: 40px auto 0;
		}
		
	}
	
	.service-rows {
		
		.row.service-row {
			
			/*overflow: hidden;*/ /* MN: Schneidet Umlaute bei h2 ab "TAUSCH BREMSBELÄGE" */
			margin-top: 45px;
			
			
			@media (min-width: $screen-sm-min) {
				margin-top: 90px;
			}
			
			@media (min-width: $screen-md-min) {
				margin-top: 87px;
			}
			
			&:first-child {
				
				margin-top: 21px;
				
				@media (min-width: $screen-sm-min) {
					margin-top: 66px;
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 87px;
				}
			}
			
		}

		.service-row {
			
			.service-name {
				
				margin: 14px auto 8px;
				
				@media (min-width: $screen-sm-min) {
					margin-top: 12px;
					margin-bottom: 8px;
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 0;
				}
				
			}			
			
			.service-description {
				
				overflow: hidden;
				font-family: Arial, serif;			
				
				margin-bottom: 10px;
/*				font-size: 15px;
				line-height: 20px;*/
				font-size: 14px;
				line-height: 17px;
					
				@media (min-width: $screen-sm-min) {
					margin-bottom: 10px;
/*					font-size: 14px;
					line-height: 17px;	*/
				}
				
				@media (min-width: $screen-md-min) {
					margin-top: 10px;
					margin-bottom: 0px;
				}
				
				strong {
					
					line-height: 18px;
					
					@media (min-width:  $screen-md-min) {
						line-height: 17px;
					}
					
				}

				li {
					margin-bottom: 3px;
				}
				
				ul { 
					padding-left: 15px;
					margin-bottom: 6px;
					
					@media (min-width: $screen-sm-min) {
						margin-bottom: 13px;
					}
					
					@media (min-width: $screen-md-min) {
						margin-bottom: 9px;
					}
				}
				
				.downloads {
					
					margin-top: 15px;
										
					@media (min-width: $screen-sm-min) {
						margin-top: 16px;
					}
					
					@media (min-width: $screen-md-min) {
						margin-top: -3px;
						margin-bottom: 11px;
					}
					
				}
			}
		}
	}
	
	
}