/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04.07.2017, 08:48:48
    Author     : g.penzenstadler
*/

.team {
	
	margin-bottom: 120px;
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-bottom: 90px;
	}
	@media (max-width: $screen-xs-max) {
		margin-bottom: 60px;
	}
	
	.no-team {
		margin-top: 30px;
	}

	.intro-wrap { 
		
		margin-top: 5px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 8px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-top: 25px;
		}	
		
	}

	.hr-no-space { margin: 0; }
	
	.heading {
		
		margin-top: 32px;
		
		@media (min-width: $screen-sm-min) {			
			margin-top: 62px;		
		}
		
		@media (min-width: $screen-md-min) {
			margin: 79px auto 5px;
		}	
			
		
	}
	
	.subheading {
		
		margin-bottom: 9px;
		margin-top: 6px;
		
		@media (min-width: $screen-sm-min) {
			margin-bottom: 11px;
			margin-top: 7px;
		}
		
		@media (min-width: $screen-md-min) {
			margin-bottom: 25px;
			margin-top: 0;
		}		
	}
	.team-department {
		overflow: hidden;
	}
	.department-header, .department-body { overflow: hidden; }
	.department-header {

		.department-name {
			
			background: url('./resources/images/BMW-neg_nav_expand_48_o.png') left top no-repeat;
			background-size: 40px 40px;
			padding-left: 50px;
			line-height: 40px;
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			
		}

		&.open {

			.department-name {
				background-image: url('./resources/images/BMW-neg_nav_collapse_48_o.png');
			}
		}
	}
	.department-body {
		
		display: none;
		margin-top: 10px;

		.team-member-wrap {
			
			border: 1px solid white;
			
			/* &:last-of-type {

				.member-card {
					margin-bottom: 30px;
				}
				
			} */

			.member-card {
				
				margin-bottom: 15px;
				border: 1px solid lightgrey;
				overflow: hidden;
				
				padding: 15px;	
				
				.image-wrapper {
					
					background-size: contain;
					width: 139px;
					height: 139px;
					background-position: center center;
					float: left;
					
				}
				
				/*Durch .image-wrapper ersetzt*/
/*				img {
					display: block;
					vertical-align:top;
					width: 139px;
					height: 139px;
					width: auto;
				}*/
				
				.member-info {
				
					display: inline-block;
					vertical-align: top;
					
					/* margin: 12px auto 15px; */
					margin: 12px 0;
					font-size: 15px;
					line-height: 20px;
					
/*					@media (min-width: $screen-sm-min) {
						margin: 0 0 0 15px;
					} */
					
					@media (min-width: $screen-md-min) {
						font-size: 14px;
						line-height: 17px;
					}
					
					.member-description, .phone {
						margin-top: 7px;
					}
					
					a {
						color: #262626;
					}
					
/*					.member-name {
						
						margin: 0;

						@media (max-width: $screen-xs-max) {
							margin-bottom: 0;
						}

					}*/
					
					p.member-description { margin-bottom: 15px; }
					
					.btn-edit {
						margin-bottom: 0;
					}
					
				}
			}

		}

	}
}
