/**
 * admin
 *
 * @author jjarolim, adwerba
 */

// ACF Lyout Handles etwas prominenter machen

.acf-fc-layout-handle {
	// background: rgba(0,133,186,0.6);
	background: rgba(0,0,0,0.2);
}

// Die Adminbar Dropdowns breiter machen

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	min-width: 250px;
}

// Die Blog-Liste scrollbar machen
#wp-admin-bar-my-sites-list {
	height: 90vh;
	overflow-y: scroll;
}

/*.role-editor_bmw {
	[data-key="field_5984610b80e35"] {
		display: none !important;
	}
}*/
	
