/* 
    Created on : 11.07.2017, 13:57:02
    Author     : Philipp Kodicek
*/

body.login {
	
	#login {
		
		width: 600px;
		padding: 3% 0 0;
		max-width: 95%;
		
		h1 {
			
			font-size: 26px;
			line-height: 26px;
			
			a {
				background-image: url(resources/images/brand.png);
				width: 200px;
				height: 200px;
				margin: 30px auto 10px;
				max-width: 40%;
				background-size: contain;
			}
			
			&:after {
				content: 'BMW PARTNER SEITEN-NETZWERK';
			}
		}
		
		p#nav {
			text-align: center;
		}
		
		#login_error, .message {
			margin-top: 10px;
			border-left: 4px solid #1c69d4;
		}
		
		input:focus {
			border-color: #1c69d4;
			box-shadow: 0 0 2px #1c69d4;
		}
		
		input[type=checkbox]:checked:before {
			color: #0653b6;
		}
		
		.button.button-primary.button-large {
			height: 40px;
			padding: 0 15px;
			line-height: 40px;
			width: 100%;
			margin-top: 10px;
			background: #1c69d4;
			transition: all 0.8s;
			border-radius: 0;
			
			&:hover {
				background: #0653b6;
			}
		}
		
	}
	
}