/**
 * Theme Name: bmw-site
 * Theme URI: http://www.adwerba.at
 * Author: pkodicek [Adwerba]
 * Author URI: http://www.adwerba.at
 * Description: Exklusives Theme fuer BMW-HO-Sites
 * Version: 1.1
 */

@import '_common/variables';
@import '_common/bmwfonts';
@import '_common/headlines';
@import '_common/wysiwyg';
@import 'adminbar';

@import 'page-bmw_i'; 

* {
	outline: none;
}

*::selection{
		background: $blue;
		color: white;
	}

html, body {
	height: 100%;
}
	
body {
  //min-width: 320px;
  //max-width: 1280px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
	color: #262626;
	position: relative;
}

.container {
	padding: 0 20px;
	
	width: 100%;

	@media (min-width: $screen-sm-min) {
		padding: 0 45px;
	}
	
	@media (min-width: $screen-lg-min) {
		width: 1275px;
	}
}

.img-responsive {
	width: 100%;
}

a {
	color: #1c69d4;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor: pointer;

	&:hover {
	  color: #0653B6;
	  text-decoration: none;
	}
	&:focus {
	  color: #0653B6;
	  text-decoration: none;
	  outline: none !important;
	}
  
	&.arrowlink {
		
		font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
		transition: all 0.3s;
		
		&:before {
			content: "\f054";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			padding-right: 5px;
		}
	}
	
	&.downloadlink {
		
		font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
		transition: all 0.3s;
		font-size: 15px;
		line-height: 18px;
		display: inline-block;
		margin: 5px 0 15px 0;
		
		&:before {
			content: url('resources/images/icons/BMW-neg_act_download_20_o.png');
			padding-right: 10px;
			width: 20px;
			height: 20px;
			vertical-align: -4px;
		}
		
		
	}
	
	&.info-link {
		
		color: #666666;
		
		&:hover {
			color: $color_menu_hover;
		}
	}
  
}

.no-data {
	margin-top: 50px;
	
	p {
		margin-top: 30px;
	}
}

h5.price-with-disclaimer {
	
	margin: 4px 0 1px;
		
	@media (min-width: $screen-sm-min) {
		margin: 2px 0 1px;
	}

	@media (min-width: $screen-md-min) {
		margin: 6px 0 1px;
	}

	span {
		display: inline-block;
		vertical-align: top;
		margin-top: 2px;
	}

	.disclaim {
		background: url('./resources/images/icons/BMW-neg_com_info_18_o.png') left top no-repeat;
		width: 20px;
		height: 20px;
		background-size: contain;
		display: inline-block;
		margin-left: 7px;
		cursor: pointer;
	}	
}
.popover {
	border-radius: 0;
	z-index: 99999;
}

.popover-close {
	width: 18px;
	height: 18px;
	margin: 0 -5px 5px 10px;
	display: inline-block;
	background-image: url('resources/images/icons/BMW-neg_nav_close_18_o.png');
	cursor: pointer;
}

p {
  margin-bottom: 15px;
}

.cookie-container {
	display: none;
	position: relative;
	width: 100%;
    background: white;
    top: 0;
	
	.site-disclaimer {
		padding: 10px;
		
		.cookie-accept {
			
		}
	}
	
	a.rarr {
		&:before {
			content: "\f054";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			padding-right: 0.5em;
		}
	}
}

.cookie-law-modal {
	.cookie-disclaim-text {
		padding: 10px;
	}
	
	.modal-content {
		
		border-radius: 0;
		
		h3 {
			margin-top: 20px;
		}
	}
}

button.close {
		
	background: url('resources/images/icons/BMW-neg_nav_close_18_o.png');
	width: 18px;
	height: 18px;
	opacity: 1;
	&:hover {
		opacity: 1;
	}
}

.teaser {
	
	margin: 0 auto;
	max-width: 1680px;
	position: relative;

	.headline {

		color: #262626;
		padding-top: 0;
		width: 100%;

		@media (min-width: $screen-md-min) {
			position: absolute;
			padding-top: 88px;
			top: 0px;
			width: 50%;
		}

		h1 { 

			margin: 29px auto 7px;
			color: #262626;
			text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.6);
			/*text-transform: uppercase;*/

			@media (min-width: $screen-sm-min) {
				margin: 27px auto 6px; 
			}

			@media (min-width: $screen-md-min) {
				
				/*margin: 27px auto 15px;*/ 
				margin: 0; 
			}	
			
			&.light {
				@media (min-width: $screen-md-min) {
					color: white;
					text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6);
				}
			}

		}

		h3 { 

			margin-top: 1px;
			margin-bottom: 0; 
			color: #262626;
			text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.6);

			@media (min-width: $screen-sm-min) {
				margin-bottom: 0; 
			}
			
			&.light {
				@media (min-width: $screen-md-min) {
					color: white;
					text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6);
				}
			}
		}	
	}
}

.pagination-wrap {
	text-align: center;
	
	.pagination {
		overflow: hidden;
		padding-left: 0;
		margin: 30px auto 0;
		border-radius: 0px;
		
		@media (min-width: $screen-md-min) {
			margin-top: 45px;
		}

		li {
			span, a {
				border-radius: 0px !important;
			}
			
			a {
				color: #000000;
				&.prev {
					color: #ffffff;
					background-color: $blue;
					margin-right: 15px;
					&:hover {
						background-color: $blue-active;
					}
				}
				&.next {
					color: #ffffff;
					background-color: $blue;
					margin-left: 15px;
					&:hover {
						background-color: $blue-active;
					}
				}
			}
			
			&.active span {
				background-color: $leasing-grey;
				border-color: $leasing-grey;
			}
		}
	}
}

.modal-content {
	border-radius: 0;
	
	.modal-body {
		.row { margin: 0; }
	}
}


/* Kontaktformular Labels */
/* @mn 20170829 - wird jetzt zentral für alle forms über _common/_form.scss definiert*/
/*.single-sem_action #tda,
.contact_form #contact {
	label:not([for="Customer_Disclaimer_Accepted"]) {
		display: none;
	}
}*/

/*[data-key*="field_5984610b80e35"] {
	color: red;
}*/

/*
 * Menüs
*/

@import '_common/menus';
@import '_common/menus_desktop';

/*
 * Buttons
*/

@import '_common/buttons';

/*
 * Spacer
*/
@import '_common/spacer';

/*
 * Panels
*/

@import '_common/panels';

/*
 * Home (Startseite)
 */

@import 'home';

/*
 * Footer
*/
@import '_common/footer';

/*
 * new_vehicle_CPT
 */
@import 'offers';

/*
 * team_CPT
 */
@import 'team';

/*
 * service_CPT
 */
@import 'service';

/* 
 * newsevent_CPT
 */
@import 'newsevent';

/*
 * Slick Slider
 */
@import '_common/slick';

/*
 * new_vehicle_CPT
 */
@import 'new_vehicles';

/*
 * SEM Aktionen
 */
@import 'sem_aktionen';

/*
 * Content-Page Template
*/
@import 'contentpagetpl';

/*
 * Kontakt-Seite
*/

@import 'contact';

/*
 * Standard-Seitentemplate
*/

@import 'page_default';

/*
 * Formulare aus dem Form plugin
*/

@import '_common/form';