/* 
    Created on : 28.06.2017, 16:33:39
    Author     : Philipp Kodicek
*/



@font-face {
    font-family: 'bmw_type_web_bold_allregular';
    src: url('../resources/fonts/BMWTypeWebBoldAll.20161018.eot');
    src: url('../resources/fonts/BMWTypeWebBoldAll.20161018.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/BMWTypeWebBoldAll.20161018.woff2') format('woff2'),
         url('../resources/fonts/BMWTypeWebBoldAll.20161018.woff') format('woff'),

         url('../resources/fonts/BMWTypeWebBoldAll.20161018.ttf') format('truetype');
         /*url('./resources/fonts/BMWTypeWebBoldAll.20161018.svg#bmw_type_web_bold_allregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bmw_type_web_light_allregular';
    src: url('../resources/fonts/BMWTypeWebLightAll.20161018.eot');
    src: url('../resources/fonts/BMWTypeWebLightAll.20161018.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/BMWTypeWebLightAll.20161018.woff2') format('woff2'),
         url('../resources/fonts/BMWTypeWebLightAll.20161018.woff') format('woff'),
         url('../resources/fonts/BMWTypeWebLightAll.20161018.ttf') format('truetype');
         /*url('./resources/fonts/BMWTypeWebLightAll.20161018.svg#bmw_type_web_light_allregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}


