/*
    Created on : 28.06.2017, 16:49:14
    Author     : Philipp Kodicek
*/

.btn {
	border-radius: 0px;
	border: 0;
	font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
	font-weight: normal;
	min-height: 40px;
	line-height: 40px;
	padding: 0 5px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 100%;
	&.disabled {
		background-color: #cccccc;
		opacity: 1;
		&:hover, &:active, &:focus {
			background-color: #cccccc;
			opacity: 1;
		}
	}
}

.btn-group {

	vertical-align: middle;

	> .btn-primary {
	  border-right: 0px solid #ccc;
	}
	> .btn:last-child:not(:first-child), .dropdown-toggle:not(:first-child) {
	  border-left: 2px solid #fff;
	}
	> .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	  border-right: 2px solid #fff;
	}

	&.btn-group-justified {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;

		> .btn {
			display: table-cell;
			float: none;
			width: 1%;
			position: relative;
		}
	}
}

.btn-primary {
  color: #FFF;
  background-color: #666666;
  &:focus, &.focus, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus, &:hover {
    color: #FFF;
    background-color: #4d4d4d;
    border-color: transparent;
  }
}

.btn-info {

/*	color: #FFF !important;
	background-color: #1c69d4;*/
	color: $color_btn_info_color !important;
	background-color: $color_btn_info_background;

	&:focus, &.focus, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus, &:hover {
/*		color: #FFF !important;
		background: #0653B6;*/
		background-color: $color_btn_info_background_hover;
	}
	
}

.btn-edit {
	background-color: #23282d;
	color: #ffffff !important;
	margin: 10px 0;
	
	&:hover {
		background-color: lighten(#23282d, 10%);
	}
	
	a {
		display: block;
		padding: 0 10%;
		color: #ffffff !important;
		&:before {
			content: "\f464";
			top: 4px;
			position: relative;
			font: 400 18px/1 dashicons;
			margin-right: 5px;
		}
		
		@media( max-width: $screen-sm-max) {
			padding: 0;
		}
	}
}

.btn-actionlink {
    background-color: $color_btn_info_background;
    color: #ffffff !important;
    margin: 10px 0;
	
	&:hover {
		background-color: $color_btn_info_background_hover;
	}
}

.btn-block {
	display: block;
}
