/* 
    Created on : 07.07.2017, 09:41:13
    Author     : Philipp Kodicek
*/


/*
 * Sticky Footer
*/

$footer_height_xs: 442px;
$footer_height_sm: 252px;
$footer_height_md: 250px;

.sticky-footer-wrap {
	
	min-height: 100%;
    height: auto !important;
	height: 100%;
    margin: 0 auto (-$footer_height_xs);
	
	padding-bottom: 60px;
	
	@media (min-width: $screen-sm-min) {
		padding-bottom: 90px;
		margin: 0 auto (-$footer_height_sm);
	}
	
	@media (min-width: $screen-md-min) {
		padding-bottom: 120px;
		margin: 0 auto (-$footer_height_md);
	}
	
}

footer, .push {
	min-height: $footer_height_xs;
	
	@media (min-width: $screen-sm-min) {
		min-height: $footer_height_sm;
	}
	
	@media (min-width: $screen-md-min) {
		min-height: $footer_height_md;
	}
}

footer {
	
	width: 100%;
	background-color: #8e8e8e;
	padding: 30px 0 5px 0;
	color: #fff;
	/*margin-top: 60px;*/
	
/*	@media (min-width: $screen-sm-min) {
		margin-top: 90px;
	}
	
	@media (min-width: $screen-md-min) {
		margin-top: 120px;
	}*/
	
	ul {
		list-style: none;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		
		letter-spacing: 0.75px;
		
		@media (min-width: $screen-sm-min) {
			letter-spacing: 0.35px;
		}
		@media (min-width: $screen-md-min) {
			letter-spacing: 0px;
		}
		
		li {
			display: inline-block;
			vertical-align: top;
			
			&.facebook {
				
				position: relative;
				/*margin-top: 8px !important;*/
				
				a {
					text-indent: -9999px; 
					
					&:before {
						content: " ";
						width: 18px;
						height: 18px;
						position: absolute;
						background: url("resources/images/icons/facebook.png") white;
						background-size: cover;
						left: 0;
					}
					
					&:hover:before {
						background-color: $color_menu_hover;
					}
				}
			}
			
			a {
				display: inline-block;
				vertical-align: top;
				color: white;
			}
		}
	}
	
	ul.footernav {
		
		> li {	
			
			width: 100%;
			margin-bottom: 21px;
			
			@media (min-width: $screen-sm-min) {
				margin-bottom: 20px;			
			}
			
			>a {
				
				font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
				width: 100%;
				
				@media (min-width: $screen-sm-min) {
					width: 16%;
				}
				
				@media (min-width: $screen-md-min) {
					width: 12%;
				}
				
				&:hover, &:active {
					color: white;
				}
			}
			
			> ul { //Submenu
				   
				display: inline-block;				
				width: 100%;
				
				@media (min-width: $screen-sm-min) {
					width: 83%;
				}
				
				@media (min-width: $screen-md-min) {
					width: 87%;
				}
				
				> li {
					margin-right: 5px;
					margin-top: 6px;
					
					@media (min-width: $screen-sm-min) {
						margin-bottom: 0px;
						margin-right: 15px;
						margin-top: 0px;
					}
				}
			}
		}
	}
	
	.copyright {
		text-align: right;
		border-top: 1px solid white;
		padding-top: 13px;
	}
	
}

