/* 
    Created on : 19.07.2017, 16:44:41
    Author     : Philipp Kodicek
*/

form {
	
	margin-top: 30px;
	
	label {
		font-weight: 400!important;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		display: none;
	}
	label[for="Customer_Disclaimer_Accepted"],
	label[for="Customer_BirthDate"],
	label[for^="Customer_Service_Option_"],
	label[for="Customer_Service_EarliestDate"],
	label[for="Customer_Service_EarliestDate_Time"],
	label[for="Customer_Service_LatestDate"],
	label[for="Customer_Service_LatestDate_Time"]
	{
		display: block;
	}
	
	.form-control {
		border: 1px solid #bbb;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		border-radius: 0;
	}
	
	.has-error {
		
		.form-control {
		
			border-color: #D20000;
			box-shadow: none;

		}
		
		.control-label {
			color: #d20000;
		}
	}
	
	select.form-control, input[type="text"] {
		
		height: 30px;
		padding: 0 35px 0 10px!important;
		color: #262626!important;
		
		&:focus {
			border-color: #0653b6;
			box-shadow: none;
		}
	}
	
	select.form-control {
		
		background: transparent url(resources/images/icons/icon-select.jpg) no-repeat right center;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		
	}
	
	select.form-control::-ms-expand {
		display: none;
	}	
	
	input[type="radio"], input[type="checkbox"] {
		
		width: 20px;
		height: 20px;
		float: left;
		margin-top: 0px;
		margin-bottom: 8px;
		cursor: pointer;
		
		+ span {
			display: block;
			margin: 3px 0 0 30px;
			line-height: 20px;
			cursor: pointer;
		}
	}
	
	.row-clue-mandatory {
		margin-bottom: 30px;
	}
	
	input[type="submit"] {
		margin-bottom: 5px;
	}
	
	.file-upload {
		
		margin-top: 10px;
		
		input {
			margin: 5px 0 20px;
		}
		
	}
	
}

#bmw-stellentool .checkbox input[type="checkbox"] {
	position: relative;
    margin-left: 0;
}

/**
 * gdpr-disclaimer
 *
 * @author jjarolim, adwerba
 */

.gcdm-policy {
	
	$blue: #337ab7;
	$red: #ce4844;
	
	.gcdm-text-block {
		
		margin-bottom: 15px;
		
		.gcdm-usage-text {

			margin-bottom: 5px;

		}

		.gcdm-usage-text-headline {
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		.gcdm-usage-text-below {
			
			.gcdm-usage-text-parent {
				font-weight: bold;
			}
			
		}
		
		.gcdm-checkbox {
			cursor: pointer;
			position: absolute;
			left: 10px;
		}

		.gcdm-usage-definitions {

			padding-left: 30px;
			
			.gcdm-usage-definition {
			
				margin-bottom: 5px;
				
			}
				
		}
		
	}
	
	*[data-parent-id] {
		padding: 5px 0 5px 0;
		font-size: 0.9em;
		color: #999;
	}
	
	.gcdm-cta {
		
		display: inline-block;
		vertical-align: middle;
		padding-left: 8px;
		
		svg {
			width: 20px;
			transition: fill 0.5s ease-in;
		}
		
		&:hover svg {
			fill: $blue;
			transition: fill 0.15s ease-in;
		}
		
	}
	
	.gcdm-cta-hide {
		
		display: block;
		padding-top: 5px;
		margin-bottom: 15px;
		
		&:hover svg {
			fill: $red;
		}
	}
	
	label {
		
		display: inline;
		font-weight: normal;
		cursor: pointer;
		
		& > p {
			display: inline;
		}
		
	}
	
	
}

.g-recaptcha { // Captcha

   margin: 10px 0;

   &.has-error {
	   >div {
		   border: 1px solid #D20000;
	   }
   }

}
