/* 
    Created on : 06.07.2017, 09:34:45
    Author     : Philipp Kodicek
*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	
  font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
  
}

/*
 * Uppercase
 */

h1 {
	
	/*text-transform: uppercase;*/
	margin: 0;
	
	font-size: 35px;
	line-height: 35px;		
	letter-spacing: -1px;
	
	@media (min-width: $screen-sm-min) {
		font-size: 36px;
		line-height: 36px;
		letter-spacing: -1.75px;
	}
	@media (min-width: $screen-md-min) {
		font-size: 48px;
		line-height: 48px;		
		letter-spacing: -1.5px;
	}
	
}

h2 {
	
	margin: 0;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	font-size: 25px;
	line-height: 25px;
  
	@media (min-width: $screen-sm-min) {
		font-size: 26px;
		line-height: 28px;
		letter-spacing: -1.75px;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 35px;
		line-height: 35px;
		letter-spacing: -1.5px;
	}
}

h3 {
	margin-top: 5px;
	letter-spacing: 0.25px;
	font-size: 18px;
    line-height: 25px; /* @TODO? Laut CI gehören hier 20px, aber lt. Design-Vorlage der Startseite sind es 25px */ 
	/*text-transform: uppercase;*/
	
	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 22px;
	}
	@media (min-width: $screen-md-min) {
		font-size: 25px;
		line-height: 25px;
	}
}

h4 {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.25px;
	/*text-transform: uppercase;*/
	
	@media (min-width: $screen-sm-min) {
		font-size: 15px;
		line-height: 17px;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 18px;
		line-height: 20px;
	}
}

/*
 * Mixed Case
 */

h1.mixed, wysiwyg h1 { //XXL
	
	margin: 0;	
	font-size: 25px;
	line-height: 31px;	
	text-transform: none !important;
/*	letter-spacing: -1px;*/
	
	@media (min-width: $screen-sm-min) {
		font-size: 35px;
		line-height: 39px;
		text-transform: none !important;
		/*letter-spacing: -1.75px;*/
	}
	@media (min-width: $screen-md-min) {
		font-size: 48px;
		line-height: 51px;
		text-transform: none !important;
		/*letter-spacing: -1.5px;*/
	}
	
}

h2.mixed, wysiwyg h2 { //XL
	
	margin: 0;
	/*letter-spacing: -1px;*/
	font-size: 25px;
	line-height: 31px;
	text-transform: none !important;
	
	@media (min-width: $screen-md-min) {
		font-size: 48px;
		line-height: 41px;
		text-transform: none !important;
		/*letter-spacing: -1.5px;*/
	}
}

h3.mixed, wysiwyg h3 { //L
	margin: 0;
	/*letter-spacing: 0.25px;*/
	font-size: 18px;
	line-height: 20px;
	text-transform: none !important;

	@media (min-width: $screen-md-min) {
		font-size: 25px;
		line-height: 31px;
		text-transform: none !important;
	}
}

h4.mixed, wysiwyg h4 { //M
	font-size: 15px;
	line-height: 18px;
	text-transform: none !important;
	/*letter-spacing: 0.25px;*/
	margin: 0;
	
	@media (min-width: $screen-md-min) {
		font-size: 18px;
		line-height: 20px;
		text-transform: none !important;
	}
}

h5.mixed, wysiwyg h5 { //S
	font-size: 15px;
	line-height: 18px;
	text-transform: none !important;
	letter-spacing: 0.3px;
	margin: 0;
	
	@media (min-width: $screen-md-min) {
		font-size: 14px;
		line-height: 17px;
		text-transform: none !important;
	}
}

