/* 
    Created on : 28.06.2017, 16:44:38
    Author     : Philipp Kodicek
*/
/* navigation */


$subnav_break_testdrive: 600px;
$subnav_break_contact: 700px;
$subnav_break_phone: 850px;

#navbar-fixed-top {
	
    position: fixed;
    top: -180px;
    transition: all 1s ease-in;
	
	&.show-navbar-fixed-top {
		top: 0px;
		min-height: 50px;
	}
	
	.navbar-fixed-buttons {
		
		margin: 5px 0;
		text-align: right;
		
		.mr-kachel { margin-right: 115px; }
		.mr-service { margin-right: 195px; }
	
		.show-btn-text {
			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}
		.service-brand-name {
			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
		.navbar-brand {
			
			top: 9px;
			
			@media (min-width: $screen-sm-min) {
				
				top: 11px;
			}
		}
		.navbar-service-brand {
			top: 20px;
			@media (max-width: $screen-xs-max) {
				right: 20px;
			}
		}
	}
	
	.container {
		position: relative;
	}
	
	.col-xs-5 {
		@media (max-width: 380px) {
			width: 37%
		}
	}
}

.navbar-inverse {
	
	background: #8e8e8e;
	transition: height .3s ease-out;
	margin-bottom: 0px;
	min-height: 45px;
	line-height: 1em;
	border: none;
	border-radius: 0;

	.navbar-nav {
		
		margin: 0;
		float: none;

		 li {
			
			a {
			
				font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
				color: #fff;			
				font-size: 0.94em;
				line-height: 20px;
			
				@media (min-width: $screen-sm-min) {
					font-size: 1.125em;
				}
			}
				
			&:hover > a {
				color: $color_menu_hover;
			}
			
			
		}

		.active > a, .opened > a, .current-menu-item > a, .current-menu-parent > a, .current-menu-ancestor > a {
			color: $color_menu_hover;
			background-color: transparent;

			&:focus, &:hover {

				color: $color_menu_hover;
				background-color: transparent;

			}			
		}
		
		.opened > a {
			&:before {
											
				@media (max-width: $screen-sm-max) {
					content: "\f053";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					float: left;
					font-size: 12px;
					margin-right: 20px;
					margin-left: 0;
				}
			}
		}
	}
	
	.subnav {
		
		font-size: 0.938em;
		letter-spacing: -0.25px;
		
		@media(max-width: $screen-xs-max) {
			margin-left: 40px;
		}
		
		@media(min-width: $screen-sm-min) {
			margin-left: 75px;
		}
		
		@media(min-width: $screen-md-min) {
			margin-left: 0px;
		}
		
		.nav {
			
			padding-right: 99px; /* Kachel */
			
			> li {
			
				position: relative;
				display: block;
				float: left;

				> a {

					padding: 10px 13px 0 0;
					letter-spacing: -0.3px;

					@media (min-width: $screen-sm-min) {
						padding: 15px 13px 0 0;
					}

				}

				&.phone {

					> a:before {
						content: url(./resources/images/icons/phone.png);
						height: 20px;
						width: 20px;
						cursor: pointer;
						float: left;
						display: block;
						background: #fff;
						-webkit-transition: background .25s ease 0;
						-moz-transition: background .25s ease 0;
						-ms-transition: background .25s ease 0;
						-o-transition: background .25s ease 0;
						transition: background .25s ease 0;
						margin: 2px 0px 0px 14px;

						@media (min-width: $screen-sm-min) {
							margin: -2px 5px 0px 0px;
						}
						
					}
					
					.menu-item-title {
						display: none;
						@media (min-width: $subnav_break_phone) {
							display: inline-block;
						}
					}					
					
				}

				&.contact {
					
					> a:before {
						content: url(./resources/images/icons/contact.png);
						height: 20px;
						width: 24px;
						cursor: pointer;
						float: left;
						display: block;
						background: #fff;
						-webkit-transition: background .25s ease 0;
						-moz-transition: background .25s ease 0;
						-ms-transition: background .25s ease 0;
						-o-transition: background .25s ease 0;
						transition: background .25s ease 0;
						margin: 2px 5px 0px -2px;

						@media (min-width: $screen-sm-min) {
							margin: -2px 5px 0px 5px;
						}

						@media (min-width: $screen-md-min) {
							margin: -2px 5px 0px -2px;
						}
					}
					
					.menu-item-title {
						display: none;
						@media (min-width: $subnav_break_contact) {
							display: inline-block;
						}
					}					
					
				}

				&.testdrive {
					
					> a:before {
						content: url(./resources/images/icons/testdrive.png);
						height: 20px;
						width: 20px;
						cursor: pointer;
						float: left;
						display: block;
						background: #fff;
						-webkit-transition: background .25s ease 0;
						-moz-transition: background .25s ease 0;
						-ms-transition: background .25s ease 0;
						-o-transition: background .25s ease 0;
						transition: background .25s ease 0;						
						margin: 2px 6px 0px -5px;

						@media (min-width: $screen-sm-min) {
							margin: -2px 6px 0px 6px;
						}

						@media (min-width: $screen-md-min) {
							margin: -2px 6px 0px 1px;
						}

					}
					
					.menu-item-title {
						display: none;
						@media (min-width: $subnav_break_testdrive) {
							display: inline-block;
						}
					}					
					
				}
				
				&:hover, &.current-menu-item {

					> a:before {
						background: $color_menu_hover;
					}
					
				}
				
				
			}
		}
	}
	
	.mainnav {
		
		display: none;
		padding: 0;
		font-size: 1.125em;		
		border-top: none;
		box-shadow: none;		
		margin: 45px -20px 0;
				
		@media (min-width: $screen-sm-min) {
			margin: 63px -45px 0;
		}
		
		.nav {
			
			> li { // Hauptmenü-Einträge
				   
				border-top: 1px solid #bbbbbb;
				
				@media (min-width: $screen-md-min) { //overruling bootstrap standard
					float: none;
				}
				
				&.noborder {
					border-top: none;
				}
				
				> a {
					padding: 10px 19px 4px 20px;				
					letter-spacing: 0.3px;
					display: block;

					@media (min-width: $screen-sm-min) {
						font-size: 0.94em;
						padding: 9px 19px 4px 20px;
					}
				}
				
				&.menu-item-has-children {

					> a {
						transition: all 0.5s;
						margin-left: 0px;
						display: block;
						
						@media (min-width: $screen-sm-min) {
							display: block;
						}
					}
					
					&.opened {
						
						background: #8e8e8e;
						/*display: inline-block;*/
							
						> a {
/*							transform: translateX(-50%);
							margin-left: 50%;*/
							
/*							@media (min-width: $screen-md-min) {
								transform: none;
								margin-left: 0;
							}*/
						}
						
						ul.sub-menu {
							display: block;
							list-style: none;
						}
					}					
						
					&:not(.opened) > a:before {

						content: "\f054";
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-decoration: inherit;
						float: right;
						font-size: 12px;
						margin-left: 30px;

					}
				
					> ul.sub-menu { //Submenü (2. Ebene)
								 
						display: none;
						padding: 0;
						width: 100%;
						position: relative;
						
						li {
							
							border-top: 1px solid #bbbbbb;
							/*background: #666666;*/							
							
							&.noborder {
								border-top: none;
							}

							> a {
								padding: 10px 19px 4px 20px;				
								letter-spacing: 0.3px;
								display: inline-block;
								/*color: white;*/
								vertical-align: top;

								@media (min-width: $screen-sm-min) {
									font-size: 0.94em;
									padding: 9px 19px 4px 20px;
								}
								
								&:focus, &:hover {

									color: $color_menu_hover;
									background-color: transparent;

								}
							}
						
							&.menu-item-has-children {
								
								> a:not(.opened):before {
									content: "\f054";
									font-family: FontAwesome;
									font-style: normal;
									font-weight: normal;
									text-decoration: inherit;
									float: right;
									font-size: 12px;
									margin-left: 30px;
								}

								&.opened {
									
									background: #8e8e8e;

									> a {
/*										transform: translateX(-50%);
										margin-left: 50%;*/

/*										@media (min-width: $screen-md-min) {
											transform: none;
											margin-left: 0;
										}
										*/
										&:before {
											
											/*@media (max-width: $screen-sm-max) {*/
												content: "\f053";
												font-family: FontAwesome;
												font-style: normal;
												font-weight: normal;
												text-decoration: inherit;
												float: left;
												font-size: 12px;
												margin-right: 20px;
												margin-left: 0;
											/*}*/
										}
									}

								}

								> a {
									transition: all 0.5s;
									margin-left: 0px;
									display: block;
								}

								> ul.sub-menu { //Submenü (3. Ebene)

									display: none;
									list-style: none;
									padding:0;
									width: 100%;
									
									&.opened {
										@media (min-width: $screen-md-min) {
											
										}
									}

									li {
										a {
											width: 100%;
										}
									}
								}													
							}
						}
					}
				}
			}
		}
	}
	
	/* BMW Kachel */
	
	.navbar-brand {
		height: auto;
		position: absolute;
		text-align: right;
		right: 20px;
		padding: 0;
		z-index: 100;
		top: 8px;
		width: 72px;
		color: white;
		font-family: bmw_type_web_bold_allregular;
		
		@media (min-width: $screen-sm-min) {
			top: 11px;
			width: 111px;
			right: 45px;
		}
	}
	
	.navbar-service-brand {
		/*bottom: 10px;*/
		top: 15px;
		position: absolute;
		text-align: right;
		color: white;
		right: 45px;
		font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
		font-size: 19px;
		
		@media (min-width: $screen-md-min) {
			font-size: 26px;
		}
	}
	
	.navbar-toggle { //mobile Menü Toggle
	
		float: left;
		padding: 0;
		margin-top: 15px;
		border: 0px solid transparent;
		background-color: transparent;
		border-radius: 0;
		color: #fff;
		font-size: 16px;
		font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
		margin-left: 0px;

		display: block;
		
		@media (min-width: $screen-sm-min) {
			margin-left: -23px;
			margin-top: 14px;
		}
		
		&:hover, &:focus {
			background-color: transparent;
			color: #fff;
		}
		
		.menu-label {
			display: none;
			
			@media (min-width: $screen-sm-min) {
				display: inline-block;
				margin-left: 9px;
				margin-top: 3px;
			}
		}
		
		.menu-icon {
			
			width: 17px;
			height: 17px;
			cursor: pointer;
			float: left;
			display: block;
			background: none;

			&:before {
				content: url(resources/images/icons/icon-menu.png);
				height: 17px;
				width: 17px;
				cursor: pointer;
				float: left;
				display: block;
				background: white;
			}

			&:hover &:before {
				background: $color_menu_hover;
			}
		}
	}
}
