/* 
    Created on : 12.09.2017, 10:31:16
    Author     : Philipp Kodicek
*/

/*
 * Additional styles to _menu.scss
 * 
 */
	
.navbar-inverse.desktop { //Klasse desktop wird per JS gesetzt

	&#navbar {
		min-height: 100px;
	}

	.subnav {	

		padding-top: 10px;
		margin-left: 0;

		.nav > li > a {
			padding: 18px 13px 0 0;
		}
	}

	.mainnav {		

		margin: 0;		
		display: block!important;

		.nav > li { // Hauptmenü-Einträge

			float: left;
			border-top: none;
			display: block!important;

			> a {
				padding: 18px 19px 15px 0px;
				border-top: none;
				font-size: 1.125em;
				display: block!important;
			}

			&.menu-item-has-children {

				> ul.sub-menu { //Submenü (2. Ebene)

						top: 100%;
						left: 0;
						z-index: 1000;
						float: left;
						min-width: 380px;
						max-width: 580px;
						/*width: 580px;*/
						margin: 2px 0 28px;
						font-size: 14px;
						text-align: left;
						list-style: none;
						/*width: auto;*/
						position: absolute;

					li {								

						border-top: none;
						background: none;

						>a {
							padding: 5px 19px 4px 0px;
							border-top: none;
							font-size: 15px;
							letter-spacing: 0.8px;
							width: 50%;
						}

						&.menu-item-has-children {

							> a {									
								display: inline-block;
							}

							> ul.sub-menu { //Submenü (3. Ebene)

								padding: 0 0 0 15px;
								border-left: 1px solid #bbb;
								width: auto;
								position: absolute;
								top: 0px;
								/*width: 100%;*/
								margin: 2px 0px 28px;
								min-width: 190px;
								max-width: 290px;
								min-height: 100%;
							}
						}
					}
				}
			}
		}

		.menu-item-has-children > a:before {
			content: ""!important;
			margin-left: 0!important;
		}
	}

	.navbar-toggle { //mobile Menü Toggle
		display: none;

		.menu-label {
			display: none;
		}
	}

	.navbar-service-brand {
		top: 50px;
	}
}

