/* 
    Created on : 28.06.2017, 18:34:59
    Author     : Philipp Kodicek
*/

/* Panels */
/* Panels */

.panel {
	
	margin-bottom: 30px;
	background-color: #FFF;
	border: 1px solid #e6e6e6;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

	.img-responsive {
	  margin-bottom: 20px;
	}

	.panel-body {

		padding: 15px;

		p {
		  margin: 0;
		}
		.btn-primary {
		  margin-top: 15px;
		}
	}

	.panel-footer {
		border-top: 1px solid #e6e6e6;
	}
}	

.team .panel .img-responsive {
  margin-bottom: 0px;
}

.panel {
  h2 {
    font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
  }
  h3 {
    font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.panel-footer {
  padding: 0;
  border-top: 0px solid #ddd;
}

