/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.08.2016, 16:04:48
    Author     : m.neuhold
*/


.slick-slider:hover {
	.slick-arrow {
		opacity: 1;
	}
}

.slick-image-slider {
	.slick-arrow, .slick-arrow:hover, .slick-arrow:focus {
		height: 40px;
	}
}

.slick-arrow, .slick-arrow:hover, .slick-arrow:focus {

	background: $arrow-left rgba(38, 38, 38, 0.5) no-repeat center;
	z-index: 10;
	width: 40px;
	height: 60px;
	/*top: 60px;*/
	opacity: 0.8;
	background-size: 35%;
	transition: all 0.5s;
	transform: translate(0, -50%);
	
	
	@media (min-width: $screen-md-min) {
		top: 50%;
	}

	&:before {
		content: none;
	}
	&:hover {
		/*background-color: darken($blue, 40%);*/
		background-color: rgb(77,77,77);
	}

	&.slick-next {
		background-image: $arrow-right;
		right: 0px;
	}
	
	&.slick-prev {
		left: 0px;
	}
}

.slick-dotted.slick-slider {
     margin-bottom: 0; 
}

.slick-dots {
	
	bottom: 5px;
	position: relative;
	
	li {
		/*width: 18px;*/ // Per JS festgelegt, weil variable Anzahl an Bildern
		height: 5px;
		background-color: #ffffff;
		transition: all 0.5s;
		margin: 0;
		&:hover, &.slick-active {
			background-color: $blue;
			button {
				background-color: #ffffff;
			}
		}
		button {
			width: auto;
			height: auto;
			padding: 3px;
			margin: 6px;
			/*background-color: $blue;*/
			&:before {
				content: none;
			}
		}
	}
}


.gallery--dotbars .slick-dots {

	position: relative;
	bottom: 2px;

	@media (min-width: $screen-md-min) {
	bottom: 8px;
		li {
			width: 25%;
			height: 5px;
			margin: 0;
			button {
				background-color: #ffffff;
				&:before {
					content: none;
				}
			}
		}
	}
}


a.slick-slide {
	text-align: center;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}


.slick-next {
	right: 15px;
} 
.slick-prev {
	left: 15px;
}

.slide--features {
	background-color: #000000;
}

.slide--wkr {
	background-color: #ffffff;
}

.slide--dark {
	background-color: #000000;
}