/* 
    Created on : 28.06.2017, 16:35:40
    Author     : Philipp Kodicek
*/

/* SPACER */

.top-xxs {
  padding-top: .25em;
}

.top-xs {
  padding-top: 1em;
}

.top-sm {
  padding-top: 2em;
}

.top-md {
  padding-top: 3em;
}

.top-lg {
  padding-top: 5em;
}

.top-xl {
  padding-top: 7em;
}

.bottom-xxs {
  padding-bottom: .25em;
}

.bottom-xs {
  padding-bottom: 1em;
}

.bottom-sm {
  padding-bottom: 2em;
}

.bottom-md {
  padding-bottom: 3em;
}

.bottom-lg {
  padding-bottom: 5em;
}

.bottom-xl {
  padding-bottom: 7em;
}

.top-bottom-xxs {
  padding-top: .25em;
  padding-bottom: .25em;
}

.top-bottom-xs {
  padding-top: 1em;
  padding-bottom: 1em;
}

.top-bottom-sm {
  padding-top: 2em;
  padding-bottom: 2em;
}

.top-bottom-md {
  padding-top: 3em;
  padding-bottom: 3em;
}

.top-bottom-lg {
  padding-top: 5em;
  padding-bottom: 5em;
}

.top-bottom-xl {
  padding-top: 7em;
  padding-bottom: 7em;
}

@media (max-width: $screen-sm-max) {
  .top-xxs {
    padding-top: .25em;
  }
  .top-xs {
    padding-top: 0.5em;
  }
  .top-sm {
    padding-top: 1em;
  }
  .top-md {
    padding-top: 1.5em;
  }
  .top-lg {
    padding-top: 2.5em;
  }
  .top-xl {
    padding-top: 3.5em;
  }
  .top-xxs {
    padding-bottom: .25em;
  }
  .bottom-xs {
    padding-bottom: 0.5em;
  }
  .bottom-sm {
    padding-bottom: 1em;
  }
  .bottom-md {
    padding-bottom: 1.5em;
  }
  .bottom-lg {
    padding-bottom: 2.5em;
  }
  .bottom-xl {
    padding-bottom: 3.5em;
  }
  .top-bottom-xs {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .top-bottom-sm {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .top-bottom-md {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .top-bottom-lg {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  .top-bottom-xl {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}

