/* 
    Created on : 27.07.2017, 14:45:18
    Author     : Philipp Kodicek
*/

.wysiwyg {
	
	p {
		margin-bottom: 6px;
		font-family: Arial, serif;		
		font-size: 15px;
		line-height: 20px;
		
		@media (min-width: $screen-md-min) {
			font-size: 14px;
			line-height: 17px;
		}
	}
	
	h1,h2,h3,h4,h5 {
		margin-bottom: 4px;
	}
	
}

