/* 
    Created on : 28.06.2017, 16:33:39
    Author     : Philipp Kodicek
*/

@font-face {
    font-family: 'bmw_type_web_bold_allregular';
    src: url('../resources/fonts/bmwtypewebbold.eot');
    src: url('../resources/fonts/bmwtypewebbold.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/fonts/bmwtypewebbold.woff2') format('woff2'),
         url('../resources/fonts/bmwtypewebbold.woff') format('woff'),
         url('../resources/fonts/bmwtypewebbold.ttf') format('truetype'),
         url('../resources/fonts/bmwtypewebbold.svg#BMWTypeWebBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bmw_type_web_light_allregular';
    src: url('../resources/fonts/bmwtypewebli_all.eot');
    src: url('../resources/fonts/bmwtypewebli_all.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/fonts/bmwtypewebli_all.woff2') format('woff2'),
         url('../resources/fonts/bmwtypewebli_all.woff') format('woff'),
         url('../resources/fonts/bmwtypewebli_all.ttf') format('truetype'),
         url('../resources/fonts/bmwtypewebli_all.svg#BMWTypeWebLightAll') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../resources/fonts/fontawesome-webfont.woff') format('woff'),
         url('../resources/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*added new font*/
@font-face {
  font-family: "bmw_global_pro";
  src: url('../resources/fonts/BMWGlobal_Pro_bold.ttf') format('truetype'),
  url('../resources/fonts/BMWGlobal_Pro_light.ttf') format('truetype'),
  url('../resources/fonts/BMWGlobal_Pro_reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

