/*
    Created on : 28.06.2017, 16:49:14
    Author     : Philipp Kodicek
*/

.button {
	
	border-radius: 0px;
	border: 0;
	font-family: 'bmw_type_web_bold_allregular', Arial, sans-serif;
	font-weight: normal;
	min-height: 50px;
	line-height: 50px;
	padding: 0 15px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	/*width: 100%;*/
	/*width: auto;*/
	text-decoration: none;
	
	width: 100%;
	
	@media (min-width: $screen-sm-min) {
		width: 50%;
	}
	
	@media (min-width: $screen-md-min) {
		width: 25%;
	}
}

.button-grey {
  color: #FFF;
  background-color: #666666;

  &:focus, &.focus, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus, &:hover {
    color: #FFF;
    background-color: #4d4d4d;
    border-color: transparent;
	text-decoration: none;
  }
}

.button-blue {

	color: $color_btn_info_color !important;
	background-color: $color_btn_info_background;

	&:focus, &.focus, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus, &:hover {
		background-color: $color_btn_info_background_hover;
	}
	
}

.btn-block {
	display: block;
}
