/* 
    Created on : 10.10.2017, 18:06:12
    Author     : Philipp Kodicek
*/

form {
	
	.form-control {
		border-radius: 0;
	}
	
	.error-list {
		margin-bottom: 40px;
	}
	
	label {
		z-index: 999;
	}
	
	#form_submit {
		
		color: $color_btn_info_color !important;
		background-color: $color_btn_info_background;

		&:focus, &.focus, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus, &:hover {
			background-color: $color_btn_info_background_hover;
		}
		
		width: 100%;
		
		@media (min-width: $screen-sm-min) {
			width: 50%;
		}
		@media (min-width: $screen-md-min) {
			width: 25%;
		}
		
	}
	
	input[type='checkbox'] {
		
		width: 20px;
		height: 20px;
		margin-top: 0;
		
		+label {
			vertical-align: top;
			margin-top: 4px;
			display: inline;
			
			a {
				vertical-align: top;
			}
		}
		
	}
	
}

