/* 
    Created on : 25.10.2017, 11:04:30
    Author     : Philipp Kodicek
*/

$teaser_breakpoint: 600px;

.teaser {
	
	position: relative;
	
	.headlines {
		
		@media (min-width: $teaser_breakpoint) {
			position: absolute;
			top: 60px;
			width: 100%;
			color: white;
		}
		
		.button {
			margin-top: 15px;
		}
		
		h1, h2 {
			
			margin-top: 10px;
			
			@media (min-width: $teaser_breakpoint) {
				text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24), 0px 0px 10px rgba(0, 0, 0, 0.42);
				margin-top: 0;
			}		
			
		}
		
		h2 {
			
			background: url('resources/images/page-bmw_i/i.png') left center;
			background-repeat: no-repeat;
			background-size: 33px 30px;
			padding-left: 38px;
			
			line-height: 1.1em;
			
		}
		
	}
	
}

section.message {
	
	margin-top: 30px;
	
	@media (min-width: $screen-sm-min) {
		margin-top: 50px;
	}
	
	@media (min-width: $screen-md-min) {
		margin-top: 80px;
	}

	h2 {
		margin-bottom: 15px;
	}

	ul {
		
		list-style-type: none;		
		background: url(resources/images/page-bmw_i/table_background.jpg) center center;
		background-repeat: no-repeat;
		transition: all 0.5s;	
		
		padding: 10px 10px 10px 20px;
		background-size: cover;
		
		@media (min-width: $screen-md-min) {
			
			padding: 120px 10px 120px 60px;
			background-size: 100% auto;
			
			&:hover {
				background-size: 105% auto;
			}
		}
		
		li {
			
			color: white;	
			margin-bottom: 10px;
			
			@media (min-width: $screen-md-min) {
				font-size: 35px;
				line-height: 37px;
				margin-bottom: 40px;
			}
			
			&:before {
				
				content: '-';
				margin-right: 5px;
				margin-left: -10px;
				
				@media (min-width: $screen-md-min) {
					margin-right: 10px;
					margin-left: -20px;
				}
				
			}
			
		}
	}  
	
}


section.facts {
	
	margin-top: 40px;

	p {
		margin-top: 0;
	}
	
	div.facts {
		
		margin-top: 20px;
		
		@media (min-width: $screen-md-min) {
			margin-top: 0;
		}
	}

	.fact {
		
		border-bottom: 1px solid #e6e6e6;
		padding: 11px 0;
		position: relative;
		cursor: default;
		
		margin-top: 10px;
		
		&:before {
			content: ' ';
			position: absolute;
			width: 0;
			left: 0;
			bottom: 0;
			height: 2px;
			background: #1c69d4;
			transition: all 0.3s;
		}
		
		&:hover {
			&:before {
				
				width: 100%;
				
			}
		}
		
		&:first-of-type {
			padding-top: 0;
		}
		
		&:last-of-type {
			border-bottom: 0;
		}
		
		@media (min-width: $screen-sm-min) {
			margin-top: 0px;
		}
		
		.description, .value {
			display: block;
			
			@media (min-width: $screen-sm-min) {
				display: inline-block;
			}
		}
		
/*		.description, .value {
			display: inline;
		}*/

		.value {
			
			text-align: center;
			font-size: 23px;
			font-weight: bold;
			margin-top: 10px;
			
			@media (min-width: $screen-sm-min) {
				float: right;
				text-align: right;
				font-size: inherit;
				font-weight: normal;
				margin-top: 0;
			}
		}
	}
}

section.fortschritt {
	
	margin-top: 30px;
	
	@media (min-width: $screen-sm-min) {
		margin-top: 60px;
	}
	
	@media (min-width: $screen-md-min) {
		margin-top: 90px;
	}

	#custom-dots {
		margin: 30px 0;
	}
	
	img {
		
		transition: all 0.7s;
		
		&:hover {
			transform: scale(1.05);
		}
	}
	
	h3 {
		margin-top: 10px;
		
		@media (min-width: $screen-sm-min) {
			margin-top: 0;
		}
	}
	
	.button {
		
		margin-top: 20px;
		
		width: 100%;
		
		@media (min-width: $screen-md-min) {
			width: 50%;
		}
	}
	
}

section.e-bike {
	
	margin-top: 30px;
	
	@media (min-width: $screen-sm-min) {
		margin-top: 80px;
	}	
	
	.e-bike-content {
		margin-top: 5px;
	}
	
	img {
		
		transition: all 0.7s;
		
		&:hover {
			transform: scale(1.05);
		}
	}
}

section.rfo {
	
	margin-top: 30px;
	
	@media (min-width: $screen-sm-min) {
		margin-top: 80px;
	}	
	
	h2 {
		margin-bottom: 50px;
	}
	
}

section.disclaimer, .disclaimer {
	
	margin-top: 40px;
	
	p {
		margin-top: 0;
		font-size: 12px;
		line-height: 14px;
	}
	
}

.modal-backdrop {
	background-color: white;
}